<!DOCTYPE html>
<html lang="es">
<head>
  <!-- Configuración de caracteres, UTF-9 es para cracteres especiales como tildes, ñ, etc -->
  <meta charset="UTF-8">
  <!-- Permite diseño responsive en móviles -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Título de la página -->
  <title>Desarrollo Web</title>
  <!-- Hoja estilo externa -->
  <link rel="stylesheet" href="../css/estilo.css">
  <!-- Fuente externa de Google Fonts -->
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
</head>
<body>
<!-- NAVBAR -->
<!-- ================= MENÚ DE NAVEGACIÓN ================= -->
<nav>
  <h2>LuigiDelAguila</h2>
  <ul>
    <li><a href="../index.html">Inicio</a></li>
    <li><a href="galeria.html" class="active">Galería</a></li>
    <li><a href="presupuesto.html">Presupuesto</a></li>
    <li><a href="contacto.html">Contacto</a></li>
  </ul>
</nav>
<!-- ====================== GALERIA ======================== -->
<section class="container">
  <h2>Galería de Proyectos</h2>

  <!-- Contenedor dinámico, será llenado automáticamente con js -->
  <div id="galeria" class="grid"></div>
</section>

<!-- MODAL -->
<div id="modal" class="modal">
   <!-- Botón para cerrar el modal -->
  <span id="cerrar">&times;</span>
  <!-- Imagen ampliada -->
  <img id="img-modal">
</div>
<!-- ================= PIE DE PÁGINA ================= -->
<footer>
  <!-- Redes sociales -->
  <div class="redes">
    <a href="https://www.facebook.com/andre.delaguilaocampo" target="_blank">
      <img src="../img/facebook.png" alt="Facebook" class="icono-red">
    </a>

    <a href="https://linkedin.com" target="_blank">
      <img src="../img/linkedin.png" alt="LinkedIn" class="icono-red">
    </a>

    <a href="https://github.com" target="_blank">
      <img src="../img/github.png" alt="GitHub" class="icono-red">
    </a>
  </div>
  <p>Dirección: Araia, España</p>
  <p>©2026 LuigiDelAguila - Todos los derechos reservados</p>
</footer>

<script src="../js/galeria.js"></script>
</body>
</html>